body,
p,
span {
  font-family: roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: rubik, sans-serif;
}

img {
  max-width: 100%;
}

.gray {
  background-color: #f9fafb;
}

body .btn-primary {
  padding: 12px 45px;
  background-color: #e94346 !important;
  border-color: #e94346;
  position: relative;
  display: inline-block;
  z-index: 1;
}

body .btn-primary::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: black;
  border-color: black;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

body .btn-primary:hover {
  border-color: black;
}

body .btn-primary:hover::after {
  width: 100%;
}

.sticky-top {
  background-color: #fff;
}

.our_primary_menu ul {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.our_primary_menu li {
  margin-left: -5px;
  position: relative;
}

.our_primary_menu li .activation {
  color: #e94346;
}

.our_primary_menu li a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 13px;
  color: #000;
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
}

.our_primary_menu li a i {
  font-size: 15px;
  position: relative;
  top: 2px;
  left: 0;
}

.our_primary_menu li:hover ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.our_primary_menu li:hover a {
  color: #e94346;
}

.our_primary_menu li ul {
  position: absolute;
  width: 230px;
  left: 0;
  top: 150%;
  background-color: #fff;
  padding-left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.our_primary_menu li ul li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  border-bottom: 1px solid rgba(221, 221, 221, 0.411);
}

.our_primary_menu li ul li .second {
  color: #e94346 !important;
}

.our_primary_menu li ul li a {
  -webkit-transition: .5s;
  transition: .5s;
  padding-left: 10px;
  color: black !important;
}

.our_primary_menu li ul li a:hover {
  color: #e94346 !important;
  letter-spacing: 1px;
}

.header_info .header_search span i {
  font-size: 20px;
  border-right: 1px solid #ddd;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header_info .header_call .icon span i {
  font-size: 35px;
  color: #e94346;
}

.header_info .header_call .info span {
  color: #555;
}

.header_info .header_call .info a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.banner_section {
  background: url(https://i.ibb.co/HhVJvRD/main-banner2.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

.banner_section .row {
  padding: 200px 0;
}

.banner_section .content h6 {
  color: #e94346;
  font-size: 20px;
}

.banner_section .content h1 {
  font-size: 70px;
}

.banner_section .content p {
  font-size: 20px;
  color: #555;
  margin-bottom: 30px;
}

.banner_section .social_icon {
  position: relative;
  top: 170px;
  left: 0;
}

.banner_section .social_icon ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.banner_section .social_icon ul li span {
  font-size: 18px;
  display: inline-block;
  margin-right: 40px;
  position: relative;
}

.banner_section .social_icon ul li span::after {
  content: '';
  position: absolute;
  width: 31px;
  top: 15px;
  left: 85px;
  height: .5px;
  background-color: rgba(17, 17, 17, 0.678);
}

.banner_section .social_icon ul li a {
  display: inline-block;
  padding: 0 15px;
  color: #000;
  -webkit-transition: .8s;
  transition: .8s;
}

.banner_section .social_icon ul li a:hover {
  color: #e94346;
}

.logo_section {
  border-bottom: 1px solid #ddd;
}

.logo_section .inner_logo ul {
  list-style: none;
  padding-left: 0;
}

.about_section .image_section {
  position: relative;
}

.about_section .image_section .small_image {
  position: absolute;
  bottom: 0;
  right: 100px;
  background: url(https://i.ibb.co/0nFgYW4/shape.png) no-repeat center;
  background-size: contain;
  width: 200px;
  height: 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finix_text h6 {
  color: #e94346;
  margin-bottom: 15px;
}

.finix_text h2 {
  color: rgba(0, 0, 0, 0.891);
  font-weight: 400;
  font-size: 38px;
  margin-bottom: 15px;
}

.finix_text p {
  font-size: 17px;
  line-height: 30px;
  color: #666;
}

.finix_text strong {
  font-size: 20px;
  color: #6d6d6d;
  font-weight: 400;
}

.finix_text ul {
  margin-top: 20px;
  list-style: none;
}

.finix_text li {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  line-height: 33px;
  color: #555;
}

.finix_text li::before {
  content: '\f00c';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  display: inline-block;
  color: #e94346;
  margin-right: 12px;
}

.choose_us_section .Choose_us_text {
  position: relative;
}

.choose_us_section .Choose_us_text .play-annimation-btn {
  width: 90px;
  height: 90px;
  display: inline-block;
  background-color: #fff;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  color: #e94346;
  border-radius: 50%;
  position: absolute;
  right: 40%;
  bottom: 55px;
}

.choose_us_section .Choose_us_text .play-annimation-btn::before {
  content: '';
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e94346;
  border-radius: 50%;
  -webkit-animation: playbtn 1.7s ease-out infinite;
          animation: playbtn 1.7s ease-out infinite;
}

.choose_us_section .features_items .feature_item {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .7s;
  transition: .7s;
}

.choose_us_section .features_items .feature_item:hover {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.choose_us_section .features_items .feature_item:hover .ft_icon i {
  background-color: #e94346;
  color: #fff;
}

.choose_us_section .features_items .feature_item::before {
  content: '';
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 70%;
  background-color: #fdebeb;
  border-radius: 50%;
}

.choose_us_section .features_items .feature_item .ft_icon i {
  color: #e94346;
  font-size: 30px;
  background-color: #fff;
  height: 90px;
  width: 90px;
  line-height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 110px;
  -webkit-transition: .7s;
  transition: .7s;
}

.choose_us_section .features_items .feature_item .ft_icon h3 {
  margin-top: 80px;
}

@-webkit-keyframes playbtn {
  0%,
  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes playbtn {
  0%,
  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

.mtop5 {
  margin-top: -30px;
}

.funding_section .folow_section .inner_follow_section {
  margin-bottom: 40px;
}

.funding_section .folow_section .inner_follow_section h2 {
  font-size: 35px;
  font-weight: 400;
}

.funding_section .folow_section .step_section {
  margin-left: 40px;
}

.funding_section .folow_section .step_section ul {
  position: relative;
  list-style: none;
}

.funding_section .folow_section .step_section ul::before {
  content: '';
  top: 10px;
  left: -22px;
  position: absolute;
  width: 2px;
  height: calc(100% - 87px);
  background-color: #e94346;
}

.funding_section .folow_section .step_section ul li {
  margin-bottom: 30px;
  position: relative;
}

.funding_section .folow_section .step_section ul li::before {
  content: attr(data-counter);
  top: 0;
  left: -74px;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #e94346;
  background-color: #f9fafb;
}

.funding_section .folow_section .step_section ul li strong {
  display: block;
  font-size: 25px;
  color: #333;
  margin-bottom: 10px;
}

.funding_section .folow_section .step_section ul li p {
  color: #666;
}

.funding_section .folow_section .apply {
  margin-bottom: 50px;
}

.pink_section {
  background-color: #fdebeb;
  padding: 50px;
}

.pink_section .top .finix_text h6 {
  color: #666;
  font-weight: 400;
}

.business_section .contact_section {
  background-color: #e94346;
  padding: 60px;
  padding-bottom: 50px;
  border-radius: 7px;
  margin-bottom: 100px;
}

.business_section .contact_section h2 {
  color: rgba(255, 255, 255, 0.905);
  font-weight: 400;
  font-size: 37px;
  border-right: 1px solid #ddd;
}

.business_section .contact_section .call_center {
  margin-top: 20px;
}

.business_section .contact_section .call_center span {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  color: #e94346;
  font-size: 30px;
  margin-right: 30px;
  margin-left: 15px;
}

.business_section .contact_section .call_center a {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.972);
  font-size: 33px;
  font-weight: 600;
}

.company_value_section .inner_section .list_section {
  margin-bottom: 15px;
}

.company_value_section .inner_section .list_section .icon i {
  font-size: 45px;
  color: #e94346;
  margin-right: 20px;
  margin-top: 5px;
}

.company_value_section .inner_section .list_section .text h3 {
  font-size: 24px;
}

.company_value_section .inner_section .list_section .text p {
  color: #666;
}

.company_value_section .img {
  margin-top: 50px;
}

.service_sectiion .service_tab .ca_ind {
  border-bottom: 1px solid #ddd;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service_sectiion .service_tab .ca_ind .active {
  position: relative;
}

.service_sectiion .service_tab .ca_ind .active::after {
  content: '';
  position: absolute;
  width: 180px;
  height: .8px;
  top: 129px;
  left: -20px;
  background-color: #e94346;
}

.service_sectiion .service_tab .ca_ind .active i {
  color: #e94346;
}

.service_sectiion .service_tab .ca_ind .button {
  text-decoration: none;
  color: #666;
}

.service_sectiion .service_tab .ca_ind .button p {
  padding-bottom: 5px;
  margin-top: 10px;
  color: #000;
  font-weight: 600;
  font-size: 19px;
}

.service_sectiion .service_tab .ca_ind .button i {
  margin: auto;
  width: 70px;
  text-align: center;
  height: 70px;
  line-height: 70px;
  display: block;
  font-size: 35px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px #ddd;
          box-shadow: 0 0 20px #ddd;
}

.service_sectiion .carousel-inner .slider_section .text h3 {
  font-size: 23px;
  margin-bottom: 20px;
}

.service_sectiion .carousel-inner .slider_section .text p {
  color: #666;
  font-size: 15px;
}

.service_sectiion .carousel-inner .slider_section .text ul {
  margin-left: -8px;
}

.service_sectiion .carousel-inner .slider_section .text ul li {
  line-height: 30px;
  font-size: 25px;
  color: #e94346;
}

.service_sectiion .carousel-inner .slider_section .text ul li span {
  color: #666;
  font-size: 15px;
}

.clients_section .inner_section {
  padding-left: 100px;
  padding-right: 120px;
}

.clients_section .inner_section .car_ind {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients_section .inner_section .car_ind .active::after {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.clients_section .inner_section .car_ind button {
  display: inline-block;
  outline: none;
  width: 15px;
  height: 15px;
  background: transparent;
  margin: 10px;
  border-radius: 50%;
  position: relative;
  top: -175px;
  right: -1030px;
  border: 1px solid #e94346;
}

.clients_section .inner_section .car_ind button:hover::after {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.clients_section .inner_section .car_ind button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: #e94346;
  -webkit-transition: .4s;
  transition: .4s;
}

.clients_section .inner_section .slider_section .slider_item i {
  position: relative;
  top: -115px;
  left: 90px;
  color: #e94346;
  font-size: 45px;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.clients_section .inner_section .slider_section .slider_item i:hover {
  background-color: #e94346;
  color: #fff;
}

.clients_section .inner_section .slider_section .slider_item .text p {
  font-size: 25px;
}

.clients_section .inner_section .slider_section .slider_item .text h4 {
  font-size: 15px;
  color: #e94346;
}

.clients_section .inner_section .slider_section .slider_item .text h6 {
  font-size: 15px;
  font-weight: 400;
  color: #666;
}

.global_section .image_section .inner_box .image_box {
  position: relative;
}

.global_section .image_section .inner_box .image_box:hover .icon li {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.global_section .image_section .inner_box img {
  width: 100%;
  height: auto;
}

.global_section .image_section .inner_box .icon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.global_section .image_section .inner_box .icon ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 27px;
}

.global_section .image_section .inner_box .icon ul li {
  display: inline-block;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: translateY(41px);
          transform: translateY(41px);
  opacity: 0;
  visibility: hidden;
}

.global_section .image_section .inner_box .icon ul li a {
  display: block;
  font-size: 20px;
  height: 38px;
  width: 38px;
  margin: 0 5px;
  line-height: 38px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  -webkit-transition: .7s;
  transition: .7s;
}

.global_section .image_section .inner_box .icon ul li a:hover {
  color: #fff;
  background-color: #e94346;
}

.global_section .image_section .inner_box .icon ul li:nth-child(1) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.global_section .image_section .inner_box .icon ul li:nth-child(2) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.global_section .image_section .inner_box .icon ul li:nth-child(3) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.global_section .image_section .inner_box .icon ul li:nth-child(4) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.global_section .image_section .inner_box .text {
  margin-top: 20px;
}

.global_section .image_section .inner_box .text h4 {
  font-size: 19px;
  color: #e94346;
}

.global_section .image_section .inner_box .text p {
  font-size: 15px;
  color: #555;
}

.success_story_section .finix_text h6 {
  font-weight: 400;
}

.success_story_section .finix_text h2 {
  font-weight: 500;
}

.success_story_section .main_section .col-lg-4:hover a {
  color: #e94346;
  letter-spacing: 1px;
}

.success_story_section .main_section .text {
  margin-top: 20px;
}

.success_story_section .main_section .text p {
  color: #e94346;
}

.success_story_section .main_section .text h5 {
  font-size: 24px;
  line-height: 33px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.success_story_section .main_section .text h5:hover {
  color: #e94346;
}

.success_story_section .main_section .text a {
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
  color: #111;
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer_section {
  background-color: #111;
}

.footer_section .black_section {
  padding: 0 100px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.192);
}

.footer_section .first_section p {
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

.footer_section .first_section ul {
  list-style: none;
  padding-left: 0;
}

.footer_section .first_section ul li {
  color: #fff;
}

.footer_section .first_section ul li a {
  color: #fff;
  display: inline-block;
  padding-left: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer_section .first_section ul li a:hover {
  color: #e94346;
}

.footer_section .second_section h5 {
  padding-bottom: 15px;
  color: #fff;
  border-bottom: 1px solid rgba(221, 221, 221, 0.137);
}

.footer_section .second_section ul {
  list-style: none;
  padding-left: 0;
}

.footer_section .second_section ul li {
  padding-top: 15px;
}

.footer_section .second_section ul li:hover a {
  color: #e94346;
  letter-spacing: 1px;
}

.footer_section .second_section ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer_section .forth_section h5 {
  padding-bottom: 15px;
  color: #fff;
  border-bottom: 1px solid rgba(221, 221, 221, 0.137);
}

.footer_section .forth_section ul {
  list-style: none;
  padding-left: 0;
}

.footer_section .forth_section ul .skype {
  padding-left: 40px;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.footer_section .forth_section ul li {
  padding-top: 15px;
  color: #fff;
  line-height: 20px;
}

.footer_section .forth_section ul li:hover a {
  color: #e94346;
}

.footer_section .forth_section ul li span i {
  padding-right: 20px;
}

.footer_section .forth_section ul li .skype {
  padding-left: 40px;
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}

.footer_section .forth_section ul li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer_section .footer p {
  text-align: center;
  font-size: 15px;
  color: rgba(221, 221, 221, 0.432);
}

.footer_section .footer p a {
  text-decoration: none;
  color: #e94346;
  font-size: 14px;
  font-weight: 500;
}

.header_breadcrumb {
  padding: 120px 0;
  background: url(https://templates.envytheme.com/finix/default/assets/img/page-title/bg.jpg);
  background-position: center 16%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.header_breadcrumb::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.644);
  z-index: -1;
}

.header_breadcrumb a {
  color: #e94346;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
}

.header_breadcrumb .active {
  font-weight: 600;
  font-size: 18px;
}

.loan_background {
  padding: 120px 0;
  background: url(https://templates.envytheme.com/finix/default/assets/img/page-title/bg-7.jpg);
  background-position: center 16%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.loan_background::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.644);
  z-index: -1;
}

.loan_background a {
  color: #e94346;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
}

.loan_background .active {
  font-weight: 600;
  font-size: 18px;
}

.funding_background {
  padding: 120px 0;
  background: url(https://templates.envytheme.com/finix/default/assets/img/page-title/bg-6.jpg);
  background-position: center 16%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.funding_background::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.644);
  z-index: -1;
}

.funding_background a {
  color: #e94346;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
}

.funding_background .active {
  font-weight: 600;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */